{% extends "index.html" %} {% load static %} {% block main %}

<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
      <a href="/">
        <img src="{% static 'images/icon.svg' %}" alt="icon" />
      </a>
      <h3>Reset Your Password</h3>
      <p>Enter your new password.</p>
    </div>

    <form action="#" class="form auth__form" method="POST">
      {% csrf_token %}

      <!-- Input:Password -->
       {% for field in form  %}
           <div class="form__field">
        <label>{{field.label}} </label>
        {{field}}
      </div>
       {% endfor %}
    
   
      <input class="btn btn--sub" type="submit" name="" id="" />
    </form>
  </div>

  {% endblock main %}
</div>
