{% extends "index.html" %} {% load static %} {% block main %}

<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
      <a href="/">
        <img src="{% static 'images/icon.svg' %}" alt="icon" />
      </a>
      <h3>Reset Your Password</h3>
      <p>
        Enter your email address and we'll send you a link to reset your
        password.
      </p>
    </div>

    <form action="#" class="form auth__form" method="POST">
      {% csrf_token %}
      <!-- Input:Email -->
      <div class="form__field">
        <label for="formInput#email">Email Address: </label>
        <input
          class="input input--email"
          id="formInput#email"
          type="email"
          name="email"
        />
      </div>
              <input class="btn btn--sub" type="submit" name="" id="" />

    </form>
  </div>

  {% endblock main %}
</div>
